table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  background-color: white;
}

td {
  min-width: 10em;
  text-align: center;
  box-shadow: 2px 2px 2px 2px;
  :hover {
    text-shadow: 2px 2px;
  }
}

#game-board {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.win {
  background-color: green;
}
.empty {
  background-color: rgb(0, 255, 234);
}

.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
